*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 1em;
    overflow: hidden;
}

.scientific button{
    width: 100%;
    height: 5%;
    padding: 0.5em;
    border-radius: 10px;
    border: none;
    background: rgb(118, 118, 233);
    box-shadow: 2px 2px 10px 5px black;
}

.scientific button a{
    text-decoration: none;
}

.simpleCal{
    background: rgb(177, 177, 146);
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20%;
    width: 40%;
    height: 88%;
}

.display{
    /* border: 1px solid black; */
    width: 98%;
    height: 19%;
    margin: 1%;

}

.display .secDisplay{
    /* border: 1px solid black; */
    background: whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px black;
    color: black;
    width: 98%;
    height: 58%;
    margin: 1%;
    font-size: 4.2em;
    text-align: right;
    padding-right: 5px; 
    overflow: hidden;   
}

.display .priDisplay{
    /* border: 1px solid black; */
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px black;
    color: black;
    width: 98%;
    height: 28%;
    margin-top: 2%;
    margin-left: 1%;
    text-align: right;
    font-size: 1.7em;  
    padding-right: 5px;
    overflow: hidden;
}

.keyPad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyPad button{
    width: 9.1em;
    height: 5.8em;
    margin: 1%;
    background: rgb(177, 177, 248);
    box-shadow: 1px 1px 10px 3px black;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

.keyPad .clear{
    background: rgb(6, 2, 27);
    color: white;
}

.keyPad .delete{
    background: rgb(59, 58, 58);
    color: whitesmoke;
}

.keyPad .op{
    background: whitesmoke;
}

.keyPad .zero{
    background: rgb(177, 177, 248);
    width: 19.5em;
    height: 5.8em;
}

.keyPad .equals{
    background: rgb(135, 233, 135);
}

@media only screen and (max-width: 600px) {
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: grid;
        overflow: none;
    }

    .scientific{
       margin-top: 10px;
       margin-left: 35%;
    }

    .scientific button{
        width: 8em;
        height: 5em;
    }    
    
    .simpleCal{
        margin: auto;
        margin-top: -100px;
        width: 95%;
        height: 110%;
    }

    .simpleCal .display .secDisplay, .simpleCal .display .priDisplay{
        padding-right: 5px;
        overflow: hidden;
    }
    .simpleCal button{
        width: 20%;
        margin: 9px;
    }

    .keyPad .zero{
        width: 12em;
    }
}